In [746]:
# To Do:
# * Include introduction saying that we could have better data as it relates to genderqueer / non-binary individuals so that programs can be more specific to support these individuals
# Include importance around early childhood development in intro
# Talk about clear lack of data
# Right now I am wondering about the age ranges 5 - 11, 5 - 17, 12 - 17 and if there is a better way to split data-wise than just summing. Until 2005 they didn't split the age range
# Clustering for each country geographically
# R^2 jumps all around (see if I can test variance)

## Introduction

We are currently experiencing the largest refugee crisis that we have globally seen [1]. Over the past decade, the number of refugees and displaced persons has skyrocketed, and it is imperitive that services to support these individuals are in place throughout the relocation process. Importantly, services must be specified to the individual and family level so the we are correctly assisting those who require it. Using historical trends, we can better understand the demographics of displaced individuals. 

The United Nations Refugee Agency (UNHCR) collects demographic data around displaced individuals [2]. We can utilize this data to look at the different number of individuals from countries and locations by age and sex. This will better the ability for non-profits and humanitarian organizations to plan their services strategically to benefit the most individuals. For example, they will have a better idea as to how many women-specific and early-age development programs are needed. Having an understanding of where individuals are coming from will also better the ability to plan language integration services, job planning and relocation within specific communities.

Specifically, this tool will provide demographic trends given a specific country of origin (or total numbers across a specific group of countries) and demographic (sex/age range). Data insights will be provided temporally through digestible visuals.

In [747]:
# import libraries

import pandas as pd
import numpy as np
import pdb
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns; sns.set()
from sklearn.metrics import r2_score

## Pre-processing of data

In [748]:
# pre-processing of data

# data: http://popstats.unhcr.org/en/demographics
demographics_df = pd.read_csv('/Users/jonathan/Desktop/refugee_project/UNHCR Refugee Data/unhcr_popstats_export_demographics_2019_12_23_152351.csv', header = 2)

demographics_df.head()

,Year,Country / territory of asylum/residence,Location Name,Female 0-4,Female 5-11,Female 5-17,Female 12-17,Female 18-59,Female 60+,F: Unknown,F: Total,Male 0-4,Male 5-11,Male 5-17,Male 12-17,Male 18-59,Male 60+,M: Unknown,M: Total
0,2001,Afghanistan,West,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0
1,2001,Afghanistan,Various,14335,NaN,45451.0,NaN,99880,19234,412004.0,590904,14716,NaN,47522.0,NaN,114965,13025,435492.0,625720
2,2001,Afghanistan,North,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0
3,2001,Afghanistan,Kabul,NaN,NaN,1.0,NaN,1,NaN,0.0,2,NaN,NaN,0.0,NaN,2,NaN,0.0,2
4,2001,Afghanistan,Herat,NaN,NaN,0.0,NaN,1,NaN,0.0,1,NaN,NaN,0.0,NaN,1,NaN,0.0,1

In [749]:
# Cleaning data

# convert ages to integers because you can't have half of a person
# assuming that all '*' values are 0
def clean_convert_unhcr_data(col):
    demographics_df[col] = demographics_df[col].fillna(0).replace('*', 0).astype(int)
    
    
demographics_columns = ['Female 0-4','Female 5-11','Female 5-17','Female 12-17',
                        'Female 18-59','Female 60+','F: Unknown','F: Total',
                        'Male 0-4','Male 5-11','Male 5-17','Male 12-17',
                        'Male 18-59','Male 60+','M: Unknown','M: Total']

for col in demographics_columns:
    clean_convert_unhcr_data(col)
    
# The 'total' columns are sums of all other columns for each gender, but there is overlap among a few columns
def add_cols(col, col_list):
    demographics_df[col] = demographics_df[col_list].sum(axis = 1)
    

add_cols('Female 5-17',['Female 5-11','Female 5-17','Female 12-17'])

add_cols('Male 5-17',['Male 5-11','Male 5-17','Male 12-17'])

cols_to_drop = ['Female 5-11', 'Female 12-17', 'Male 5-11', 'Male 12-17','Location Name']
    
demographics_df = demographics_df.drop(cols_to_drop, axis = 1)
demographics_df = demographics_df.groupby(['Year','Country / territory of asylum/residence']).sum().reset_index()

# find countries with only one entry as you can't make a regression off of one entry
for country in demographics_df['Country / territory of asylum/residence'].unique():
    count = demographics_df[demographics_df['Country / territory of asylum/residence'] == country]['Country / territory of asylum/residence'].count()
    if count == 1:
        print(country)
        
# remove from dataframe
demographics_df = demographics_df[demographics_df['Country / territory of asylum/residence'] != 'Bonaire']

Bonaire

## Functions Assignment

In [750]:
def specify_country(dataframe_input, country):
    '''This is utilized to filter a dataset across all countries to one specific one.
    '''
    dataframe_output = dataframe_input[dataframe_input['Country / territory of asylum/residence'] == country]
    return dataframe_output
    
def lin_reg(dataframe_input, demographic, test_size):
    '''This builds the linear regression model for a specific dataset. 
    First it converts x and y data to numpy arrays and then creates a linear regression model.
    '''
    
    x_data = country_specified_dataframe['Year'].values.reshape(-1, 1)
    y_data = country_specified_dataframe[demographic].values.reshape(-1, 1)
    
    # create training and testing datasets, pick a small test_size as tehre isn't a lot of data
    x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size = test_size)

    # create linear regression object
    lr = LinearRegression()
    lr.fit(x_train, y_train)
    y_pred = lr.predict(x_train)
    
    linear_regression_list = [lr.coef_[0][0], lr.intercept_[0], test_size, r2_score(y_train, y_pred)]

    return linear_regression_list


def get_max_r_squared(dataframe_input, demographic, country):
    '''This is used to iterate over different test_sizes for train/test/split such that we can get a max R squared value.
    '''
    
    cols_max_r2 = ['coefficient', 'intercept', 'test_size','r_squared']
    appended_data = []
    # can't go higher than 0.3, otherwise not enough data is in the fitting process
    test_size_range = np.linspace(0.01, 0.3, 100, endpoint = False) 

    for i in test_size_range:
        appended_data.append(lin_reg(dataframe_input = dataframe_input, demographic = demographic, test_size = i))
    
    r2_df = pd.DataFrame(appended_data, columns = cols_max_r2)

    # get max value for R^2, if there is more than one pull duplicates are coming from when there is no statistical 
    # trend and therefore R^2 = 1.0
    max_r2 = r2_df[r2_df['r_squared'] == r2_df['r_squared'].max()].reset_index(drop = True).iloc[:1]
    max_r2['demographic'] = demographic
    max_r2['country'] = country
    max_r2 = max_r2[['country','demographic', 'coefficient', 'intercept', 'test_size', 'r_squared',]]
    return max_r2

In [751]:
# test the return of a single country and demographic input

country_input, demographic = 'Burkina Faso', 'Female 60+'

country_specified_dataframe = specify_country(demographics_df, country_input)
get_max_r_squared(country_specified_dataframe, demographic, country_input)

        country demographic  coefficient      intercept  test_size  r_squared
0  Burkina Faso  Female 60+     76.10422 -152596.488372     0.2913   0.798859

In [752]:
# test list of countries
test_country_list_df = pd.DataFrame({'country': ['Samoa', 'Iceland', 'Afghanistan', 'Rep. of Korea', 'Burkina Faso', 'Bosnia and Herzegovina']})
test_country_list = test_country_list_df['country']

# full list of countries
full_country_list = demographics_df['Country / territory of asylum/residence'].sort_values().unique()

# full list of demographics
demographics_list = pd.DataFrame({'demographic': ['Female 0-4', 
                                                  'Female 5-17', 
                                                  'Female 18-59', 
                                                  'Female 60+', 
                                                  'Male 0-4', 
                                                  'Male 5-17', 
                                                  'Male 18-59', 
                                                  'Male 60+',
                                                 ]})


cols_final_df = ['country','demographic','coefficient','intercept','test_size','r_squared']

lin_reg_list =[]
# iterate over each country and demographic in dataframes
for country in full_country_list:
    for demographic in demographics_list['demographic']:
        country_specified_dataframe = specify_country(demographics_df, country)
        lin_reg_object = get_max_r_squared(country_specified_dataframe, demographic, country)
        lin_reg_list.append(lin_reg_object)
        
overall_lin_reg_df = pd.concat(lin_reg_list, ignore_index = True)
# sort countries and demographic
overall_lin_reg_df = overall_lin_reg_df.sort_values(by = ['country', 'demographic']).reset_index(drop = True)

overall_lin_reg_df.to_csv('/Users/jonathan/Desktop/refugee_project/regression_values_overall.csv', index = False)
overall_lin_reg_df.head(50)

,country,demographic,coefficient,intercept,test_size,r_squared
0,Afghanistan,Female 0-4,11017.543478,-2.199955e+07,0.1753,0.730599
1,Afghanistan,Female 18-59,-15577.210938,3.178822e+07,0.2681,0.292749
2,Afghanistan,Female 5-17,16945.762933,-3.375158e+07,0.2739,0.477370
3,Afghanistan,Female 60+,-2166.665480,4.405485e+06,0.2391,0.298952
4,Afghanistan,Male 0-4,10912.858558,-2.179131e+07,0.2043,0.611972
5,Afghanistan,Male 18-59,-21757.333333,4.419554e+07,0.2565,0.280558
6,Afghanistan,Male 5-17,17573.544881,-3.498560e+07,0.2304,0.514174
7,Afghanistan,Male 60+,-2579.223513,5.232390e+06,0.2594,0.283578
8,Albania,Female 0-4,30.561514,-6.127497e+04,0.2884,0.479333
9,Albania,Female 18-59,154.446891,-3.095589e+05,0.2391,0.465861
10,Albania,Female 5-17,57.028302,-1.143709e+05,0.2333,0.413119
11,Albania,Female 60+,8.693798,-1.742334e+04,0.2507,0.603338
12,Albania,Male 0-4,34.826568,-6.988782e+04,0.2855,0.518848
13,Albania,Male 18-59,165.624060,-3.319122e+05,0.2884,0.525163
14,Albania,Male 5-17,68.216012,-1.369194e+05,0.2971,0.414808
15,Albania,Male 60+,14.777339,-2.962586e+04,0.1869,0.451306
16,Algeria,Female 0-4,38.412112,-7.708442e+04,0.1898,0.745465
17,Algeria,Female 18-59,107.075237,-2.147847e+05,0.1289,0.808930
18,Algeria,Female 5-17,67.850081,-1.361605e+05,0.2246,0.759666
19,Algeria,Female 60+,4.317518,-8.663779e+03,0.2797,0.805841
20,Algeria,Male 0-4,44.042487,-8.838308e+04,0.1956,0.816125
21,Algeria,Male 18-59,248.688167,-4.987207e+05,0.2565,0.825834
22,Algeria,Male 5-17,76.116037,-1.527193e+05,0.2333,0.731079
23,Algeria,Male 60+,4.870683,-9.771137e+03,0.1202,0.823447
24,Angola,Female 0-4,-110.571790,2.233594e+05,0.2391,0.081108
25,Angola,Female 18-59,-268.109469,5.414887e+05,0.2391,0.138001
26,Angola,Female 5-17,-311.349925,6.283988e+05,0.1956,0.235491
27,Angola,Female 60+,-33.922770,6.846253e+04,0.1144,0.102234
28,Angola,Male 0-4,-155.615778,3.136218e+05,0.2855,0.199215
29,Angola,Male 18-59,-239.981993,4.849483e+05,0.2942,0.128175
30,Angola,Male 5-17,-336.098848,6.779203e+05,0.2159,0.300601
31,Angola,Male 60+,-35.922422,7.253184e+04,0.2913,0.103962
32,Anguilla,Female 0-4,0.000000,0.000000e+00,0.0100,1.000000
33,Anguilla,Female 18-59,-0.000000,0.000000e+00,0.0100,1.000000
34,Anguilla,Female 5-17,-0.000000,0.000000e+00,0.0100,1.000000
35,Anguilla,Female 60+,0.000000,0.000000e+00,0.0100,1.000000
36,Anguilla,Male 0-4,-0.000000,0.000000e+00,0.0100,1.000000
37,Anguilla,Male 18-59,0.000000,1.000000e+00,0.0100,1.000000
38,Anguilla,Male 5-17,0.000000,0.000000e+00,0.0100,1.000000
39,Anguilla,Male 60+,0.000000,0.000000e+00,0.0100,1.000000
40,Antigua and Barbuda,Female 0-4,-0.000000,0.000000e+00,0.0100,1.000000
41,Antigua and Barbuda,Female 18-59,-0.000000,0.000000e+00,0.0100,1.000000
42,Antigua and Barbuda,Female 5-17,-0.000000,0.000000e+00,0.0100,1.000000
43,Antigua and Barbuda,Female 60+,0.000000,0.000000e+00,0.0100,1.000000
44,Antigua and Barbuda,Male 0-4,-0.000000,0.000000e+00,0.0100,1.000000
45,Antigua and Barbuda,Male 18-59,-2.000000,4.036000e+03,0.2159,1.000000
46,Antigua and Barbuda,Male 5-17,0.000000,0.000000e+00,0.0100,1.000000
47,Antigua and Barbuda,Male 60+,-0.000000,0.000000e+00,0.0100,1.000000
48,Argentina,Female 0-4,-2.992424,6.045321e+03,0.1927,0.812811
49,Argentina,Female 18-59,84.146520,-1.680958e+05,0.2652,0.692362

#### References:

#### [1]: https://www.unhcr.org/blogs/statistics-refugee-numbers-highest-ever/
#### [2]: http://popstats.unhcr.org/en/demographics